body {
  font-family: "Open Sans", sans-serif !important;
}

.task-header {
  display: flex;
}
.task-header .task-settings {
  padding-left: 10px;
}
.task-header .task-settings i:hover {
  cursor: pointer;
}
.task-header .task-buttons {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}
.task-header .task-buttons > div:hover {
  cursor: pointer;
}
.task-header .task-buttons > div {
  position: relative;
}
.task-header .task-buttons .task-buttons-save, .task-header .task-buttons .task-buttons-cancel {
  padding-left: 17px;
}
.task-header .task-buttons #btnEditTaskChanges {
  color: #35f33f;
}
.task-header .task-buttons #btnEditTaskChanges:hover {
  color: #0aaf1d;
}
.task-header .task-buttons #btnSaveTaskChanges {
  color: #056cda;
}
.task-header .task-buttons #btnSaveTaskChanges:hover {
  color: #2f39f8;
}
.task-header .task-buttons #btnCancelTaskChanges {
  color: #e63636;
}
.task-header .task-buttons #btnCancelTaskChanges:hover {
  color: #8e0b0b;
}

.d-none {
  display: none;
}

.spinner {
  position: absolute;
  left: 0px;
  bottom: 2px;
  margin-left: 4px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: spin 1s linear infinite;
}

.rotate {
  position: absolute;
  animation: spin 1s linear infinite;
}

.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.employee-dis {
  border: 3px solid #5FFFA9 !important;
}

.employee-mos {
  border: 3px solid #11A2E0 !important;
}

#taskContainer .task-container__group-title span {
  color: #464A4E;
  font: 700 12px "Open Sans", sans-serif;
}
#taskContainer .task-container__group-title input {
  width: 75%;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0);
  font: 700 12px "Open Sans", sans-serif;
}
#taskContainer table {
  display: grid;
  grid-template-columns: 10px minmax(auto, 1fr) minmax(105px, 125px) minmax(135px, 150px) minmax(27px, 45px) minmax(45px, 75px) minmax(75px, 60px) minmax(60px, 80px) minmax(80px, 100px) minmax(85px, 100px) minmax(110px, 135px) minmax(134px, 165px) minmax(55px, 55px) minmax(55px, 85px);
  border-collapse: collapse;
  overflow-x: auto;
  min-width: 100%;
}
#taskContainer table thead, #taskContainer table tbody {
  display: contents;
}
#taskContainer table thead tr, #taskContainer table tbody tr {
  display: contents;
}
#taskContainer table thead tr th, #taskContainer table thead tr td, #taskContainer table tbody tr th, #taskContainer table tbody tr td {
  padding: 2px;
  font: 400 10px "Open Sans", sans-serif;
  border-right: 1px solid #97999B;
  border-bottom: 1px solid #97999B;
}
#taskContainer table thead tr th, #taskContainer table tbody tr th {
  font: 700 12px "Open Sans", sans-serif;
  border-right: 1px solid #97999B;
  border-top: 1px solid #97999B;
}
#taskContainer table thead tr td:first-child, #taskContainer table thead tr th:first-child, #taskContainer table tbody tr td:first-child, #taskContainer table tbody tr th:first-child {
  border-left: 1px solid #97999B;
}
#taskContainer table .grid-row-zero {
  grid-row: span 0;
}
#taskContainer table .technology-item {
  height: 36px;
  display: flex;
  align-items: center;
}
#taskContainer table .block-center {
  display: flex;
  align-items: center;
}
#taskContainer table .shared {
  grid-row: span 2;
}
#taskContainer table select, #taskContainer table input, #taskContainer table textarea {
  font: 400 10px "Open Sans", sans-serif;
  background: none;
  border: 1px solid rgba(151, 153, 155, 0.2);
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
}
#taskContainer table select, #taskContainer table input {
  height: 17px;
}
#taskContainer table textarea {
  resize: vertical;
}
#taskContainer table .vertical-input {
  display: block;
  writing-mode: horizontal-tb !important;
}
#taskContainer table input[type=number]::-webkit-inner-spin-button,
#taskContainer table input[type=number]::-webkit-outer-spin-button,
#taskContainer table input[type=number] {
  -webkit-appearance: none;
  margin: 0;
}
#taskContainer table input[type=number] {
  -moz-appearance: textfield;
}
#taskContainer table thead th {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#taskContainer table thead .task-container__group-header-consumption {
  display: flex;
}
#taskContainer table thead .task-container__group-header-consumption > div:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#taskContainer table thead .task-container__group-header-consumption > div:nth-child(n+2) {
  display: flex;
  flex-direction: column;
}
#taskContainer table thead .task-container__group-header-area-mounting div {
  display: flex;
  flex-direction: column;
}
#taskContainer table tbody .task-container__item-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#taskContainer table tbody .task-container__item-info div {
  margin-bottom: 3px;
  width: 100%;
  box-sizing: border-box;
}
#taskContainer table tbody .task-container__item-is-offer input {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
#taskContainer table tbody .task-container__item-technologies {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 2px;
}
#taskContainer table tbody .task-container__item-technologies .task-container__item-technology {
  display: grid;
  gap: 2px;
  grid-template-columns: 17px 1fr;
  grid-template-rows: 17px 17px;
  grid-template-areas: "A B" "A C";
}
#taskContainer table tbody .task-container__item-technologies .task-container__item-technology .task-container__item-technology-type {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-technologies .task-container__item-technology .task-container__item-technology-type select {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  line-height: 14px;
  text-align: center;
}
#taskContainer table tbody .task-container__item-technologies .task-container__item-technology .task-container__item-technology-type select option {
  writing-mode: horizontal-tb;
}
#taskContainer table tbody .task-container__item-technologies .task-container__item-technology .task-container__item-technology-material-1 {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-technologies .task-container__item-technology .task-container__item-technology-material-2 {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-consumption {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 2px;
  font: 400 10px "Open Sans", sans-serif;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item {
  display: grid;
  gap: 2px;
  grid-template-columns: 17px 1fr 5px 1fr 20px;
  grid-template-rows: 17px 17px;
  grid-template-areas: "A B B B C" "D E F G H";
  width: 100%;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-img {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-title {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-empty {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-m2 {
  grid-area: D;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-width {
  grid-area: E;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-product {
  grid-area: F;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-length {
  grid-area: G;
}
#taskContainer table tbody .task-container__item-consumption .task-container__item-consumption-item .task-container__item-consumption-item-result {
  grid-area: H;
}
#taskContainer table tbody .task-container__item-area-mounting input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-area-mounting input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-area-mounting input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-amounts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 2px;
}
#taskContainer table tbody .task-container__item-amounts .task-container__item-amount {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr;
  grid-template-areas: "A";
  width: 100%;
}
#taskContainer table tbody .task-container__item-amounts .task-container__item-amount .task-container__item-amount-costprice {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-amounts .task-container__item-amount > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-amounts .task-container__item-amount input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-amounts .task-container__item-amount input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-amounts .task-container__item-amount input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-measure {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: 17px 17px;
  grid-template-areas: "A A A" "B B B" "C C C";
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#taskContainer table tbody .task-container__item-measure > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-measure input {
  text-align: center;
}
#taskContainer table tbody .task-container__item-measure .task-container__item-measure-status {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-measure .task-container__item-measure-address {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-measure .task-container__item-measure-costprice {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-design {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: 17px;
  grid-template-areas: "A";
  width: 100%;
}
#taskContainer table tbody .task-container__item-design > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-design .task-container__item-design-type {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-mounting {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 17px 4px 17px;
  grid-template-areas: "A B" "_ C" "D E";
  width: 100%;
}
#taskContainer table tbody .task-container__item-mounting > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-mounting input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-mounting input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-mounting input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-mounting .task-container__item-mounting-city {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-mounting .task-container__item-mounting-count-day {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-mounting .task-container__item-mounting-symbol-mul {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-mounting .task-container__item-mounting-type {
  grid-area: D;
}
#taskContainer table tbody .task-container__item-mounting .task-container__item-mounting-costprice {
  grid-area: E;
}
#taskContainer table tbody .task-container__item-deadlines {
  display: flex;
  gap: 2px;
  flex-direction: column;
  width: 100%;
}
#taskContainer table tbody .task-container__item-deadlines > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-deadlines .task-container__item-deadlines-type {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-deadlines .task-container__item-deadlines-data {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-dismantling {
  display: grid;
  gap: 2px;
  grid-template-columns: 17px 1fr 25px;
  grid-template-rows: 17px 17px;
  grid-template-areas: "A B C" "A D E";
  width: 100%;
}
#taskContainer table tbody .task-container__item-dismantling > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-dismantling input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-dismantling input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-dismantling input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-area {
  grid-area: A;
  position: relative;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-area input {
  transform: rotate(270deg);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  line-height: 14px;
  text-align: center;
  width: 36px;
  height: 17px;
  position: absolute;
  top: 9px;
  left: -9px;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-area input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-area input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-area input {
  box-sizing: border-box;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-difficulty-desc {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-difficulty-price {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-cost-desc {
  grid-area: D;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-cost-price {
  grid-area: E;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-symbol-plus {
  grid-area: F;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-value-percent {
  grid-area: G;
}
#taskContainer table tbody .task-container__item-dismantling .task-container__item-dismantling-symbol-percent {
  grid-area: H;
}
#taskContainer table tbody .task-container__item-dismantling .empty-1 {
  grid-area: _1;
}
#taskContainer table tbody .task-container__item-business-trip {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(6 1fr);
  grid-template-rows: 17px 17px;
  grid-template-areas: "A A A A A" "B C D E F";
  width: 100%;
}
#taskContainer table tbody .task-container__item-business-trip > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-business-trip input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-business-trip input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-business-trip input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-business-trip .task-container__item-business-trip-type {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-business-trip .task-container__item-dismantling-count-workers {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-business-trip .task-container__item-dismantling-count-days {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-business-trip .task-container__item-dismantling-count-nights {
  grid-area: D;
}
#taskContainer table tbody .task-container__item-business-trip .task-container__item-dismantling-count-eating-days {
  grid-area: E;
}
#taskContainer table tbody .task-container__item-business-trip .task-container__item-dismantling-count-miles {
  grid-area: F;
}
#taskContainer table tbody .task-container__item-delivery-container {
  display: flex;
  align-items: center;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: 17px 4px 17px;
  grid-template-areas: "A" "B" "C";
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery .task-container__item-delivery-count {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery .task-container__item-delivery-mul {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-delivery-container .task-container__item-delivery .task-container__item-delivery-price {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-delivery-cp-container {
  display: flex;
  align-items: center;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: 17px auto 17px;
  grid-template-areas: "A" "B" "C";
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp textarea {
  resize: vertical;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp .task-container__item-delivery-cp-method {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp .task-container__item-delivery-cp-address {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-delivery-cp-container .task-container__item-delivery-cp .task-container__item-delivery-cp-cost {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-summary-percent {
  display: grid;
  gap: 2px;
  grid-template-columns: 7px 20px 7px;
  grid-template-areas: "A B C";
  width: 100%;
}
#taskContainer table tbody .task-container__item-summary-percent > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskContainer table tbody .task-container__item-summary-percent input {
  width: 100%;
  text-align: center;
  -moz-appearance: textfield;
}
#taskContainer table tbody .task-container__item-summary-percent input::-webkit-inner-spin-button, #taskContainer table tbody .task-container__item-summary-percent input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#taskContainer table tbody .task-container__item-summary-percent .task-container__item-summary-percent-plus {
  grid-area: A;
}
#taskContainer table tbody .task-container__item-summary-percent .task-container__item-summary-percent-value {
  grid-area: B;
}
#taskContainer table tbody .task-container__item-summary-percent .task-container__item-summary-percent-percent {
  grid-area: C;
}
#taskContainer table tbody .task-container__item-summary-amount {
  display: flex;
  justify-content: flex-end !important;
}
#taskContainer table tbody .task-container__item-added input {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}/*# sourceMappingURL=index.css.map */